@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap%27');

@media (max-width: 600px){
    .smiley{
        display: none;
    }

    .start img{
        height: 20% !important;
        margin-top: 3.8vw !important;
        margin-left: 35vw !important;
    }
    .pressetext{
        margin-top: -20vw !important;
        margin-bottom: -10vw !important;
        background-position: center;     
        background-repeat: no-repeat;
        background-size: 40%;
    }

 

    .text_1{
        position: center;
        text-align: center;
        margin-bottom: 4vw;
        width: 30px;
        height: auto;
    }

    .text_1 p{
        font-size: 2.8vw !important;
        }

    .text_1 h1 {
        font-size: 3.5vw !important;
    }

    .mobil{
        position: relative;
        width: 100% !important;
        height: auto;
        margin-bottom: -10vw !important;
    }

    .mobil img{
        width: 75% !important;
        margin-left: 12vw;
        margin-top: -65vw;
        height: auto;
        opacity: 0.1;
    }


}

* {
    padding: 0;
    margin: 0;
}

.start{
    position: center;
    height: 80vw;
    width: 100%;
    background-image: url("div_1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start img{
    position: relative;
    margin-left: 37vw;
    margin-top: 16vw;
    height: 15%;
    width: auto;
}
/* rgb(0, 93, 39) */
.pressetext {
    display: flex;
    position: relative;
    margin-top: -15vw;
    background-color: white;
    height: auto;
    width: 100%;
    transform: skewY(-3deg);
    transition: opacity 2s;
}


.smiley{
    margin-bottom: -10vw;
    margin-top: -2vw;
    flex: 1.5 1 0px;
    width: 60%;
    height: 160%;
    opacity: 0; 
    transform: skewY(-3deg);  
    transition: opacity 2s;
}

.pressetext:hover .smiley{
    opacity: 0.1;
}

.text_1{
    flex: 1 1 0px;
    width: 30%;
    height: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: -2vw;
    font-family:'Roboto Mono', sans-serif;
    transform: skewY(3deg); 
    opacity: 1;
    transition: opacity 0.5s;
}

.text_1 h1{
    margin-top: 2vw;
    margin-bottom: 2vw;
    color: #097709;
    font-size: 2vw;
}

.text_1 p{
    line-height:200%;
    font-size: 1.21vw;
}


.mobil{
    height: 0%;
    width: 0%;
}

.mobil img{
    height: 0%;
    width: 0%;
}


iframe {
    padding-top: 5vw;
    margin: 0 auto;
    display: block;
    transform: skewY(3deg); 
}

.youtube {
    position: center;
    height: 50vw;
    width: 100%;
    background-image: url("youtube_unscharf.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    transform: skewY(-3deg);
    background-size: 100%;
    transition: background-size 2s;

}

.youtube:hover{
    background-size: 105%;
}

.konzert {
    position: center;
    margin-top: 0vw;
    background-color: rgb(100, 24, 24);
    height: 50vw;
    width: 100vw;
    border-top: 10px solid white ;
    background-image: url("konzerte_ma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    transform: skewY(-3deg);
    background-size: 100%;
    transition: background-size 2s;

}

.konzert:hover{
    background-size: 105%;
}

.kontakt {
    position: center;
    margin-top: 0vw;
    background-color: rgb(100, 24, 24);
    height: 50vw;
    width: 100vw;
    border-top: 10px solid white ;
    border-bottom: 10px solid white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    transform: skewY(-3deg);

}

.impressum {
    position: center;
    margin-top: 10vw;
    height: 10vw;
    width: 100vw;
    border-top: 10px solid white ;
    background-color: #097709;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

}

.logo{
    position: relative;
    margin-top: 20vw;
    margin-left: 40vw;

} 

.logo img{
    width: 30%;
}


.fade-in {
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

